<div class="modal-container even-modaler" ng-show="showConfirmDialog == true">
	<div class="reveal">

	  <p class="lead" ng-bind-html="confirmDialogQuestion">Confirmation Delete</p>

	  <div class="text-right">
	  	<button class="button small secondary" ng-click="closeConfirmDialog()"  type="button" translate="GENERAL_CANCEL"></button>
	  	<button class="button small primary" ng-click="confirmDialogYes()" type="button" translate="GENERAL_YES"></button>
	  </div>
	</div>
</div>


<div class="modal-container even-modaler" ng-show="showEditPlayerDialog == true">
	<div class="reveal">

		<label>
			<span translate="GENERAL_NAME_FIRST">First Name</span><br />
			<input type="text" ng-model="tmpPlayer.name.first" ng-change="updatePlayerFirstName(tmpPlayer.name.first)"  />
		</label>

		<label>
			<span translate="GENERAL_NAME_LAST">Last Name</span><br />
			<input type="text" ng-model="tmpPlayer.name.last"ng-change="updatePlayerLastName(tmpPlayer.name.last)"  />
		</label>

		<label>
			<span translate="GENERAL_NAME_NICK">Nick Name</span><br />
			<input type="text" ng-model="tmpPlayer.name.nick" ng-change="updatePlayerNickName(tmpPlayer.name.nick)" />
		</label>


		<label>
			<span translate="GENERAL_EMAIL_ADDRESS">Email Address</span><br />
			<input type="email" ng-model="tmpPlayer.email" ng-change="updatePlayerEmail(tmpPlayer.email)" />
		</label>

		<label>
			<span translate="GENERAL_PHONE_NUMBER">Phone 1</span><br />
			<input type="text" ng-model="tmpPlayer.phone1" ng-change="updatePlayerPhone1(tmpPlayer.phone1)" />
		</label>

		<label>
			<input type="checkbox" ng-model="tmpPlayer.active" ng-change="updatePlayerActive(tmpPlayer.active)" /> <span translate="GENERAL_ACTIVE">Active</span><br />
		</label>

	  <div class="text-right">
	  	<button class="button small secondary" ng-click="closeEditPlayerDialog()"  type="button" translate="GENERAL_CANCEL"></button>

	  	<button class="button small primary" ng-show="tmpPlayerIndex > -1" ng-click="saveEditPlayerDialog();refreshTournamentData();updateAvailableParticipatingPlayers();" type="button" translate="GENERAL_SAVE"></button>
	  	<button class="button small primary" ng-show="tmpPlayerIndex < 0" ng-click="saveEditPlayerDialog();refreshTournamentData();updateAvailableParticipatingPlayers();" type="button" translate="GENERAL_ADD"></button>

	  </div>
	</div>
</div>

<div class="modal-container even-modaler" ng-show="showImportExportPlayerDialog == true">
	<div class="reveal">
		<div class="text-center" translate="GENERAL_IMPORT_EXPORT_EXPLANATION"></div>
		<fieldset class="fieldset">
			<legend translate="GENERAL_EXPORT">Export</legend>
			<div translate="PLAYERS_DOWNLOAD_INSTRUCTIONS">Click on the button below to download the current Players.json</div>
			<div class="text-center">
				<a download="Players.json" ng-href="{{ downloadPlayerData }}"><button class="button primary" translate="GENERAL_DOWNLOAD">Download</button></a>
			</div>
		</fieldset>

		<fieldset class="fieldset">
			<legend translate="GENERAL_IMPORT">Import</legend>
			<div translate="PLAYERS_IMPORT_INSTRUCTIONS">To import players into this app, navigate to your Players.json file you have saved.</div>
			<br />
			<label>
				<input type="checkbox" ng-model="importAsNewPlayers" ng-change="updateImportAsNewPlayers(importAsNewPlayers)" /> <span translate="PLAYERS_IMPORT_OVERWRITE_INSTRUCTIONS">If you have an import file with existing Player IDs, then check here to create new IDs for players in the import file.</span><br />
			</label>
			<br />
			<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
		</fieldset>

	  <div class="text-right">
	  	<button class="button small primary" ng-click="closeImportExportPlayerDialog()"  type="button" translate="GENERAL_CLOSE"></button>
	  </div>
	</div>
</div>


<div class="modal-container even-modaler" ng-show="showImportExportTournamentDialog == true">
	<div class="reveal">
		<div class="text-center" translate="GENERAL_IMPORT_EXPORT_EXPLANATION"></div>
		<fieldset class="fieldset">
			<legend translate="GENERAL_EXPORT">Export</legend>
			<div translate="TOURNAMENTS_DOWNLOAD_INSTRUCTIONS">Click on the button below to download the current Tournaments.json</div>
			<div class="text-center">
				<a download="Tournaments.json" ng-href="{{ downloadTournamentData }}"><button class="button primary" translate="GENERAL_DOWNLOAD">Download</button></a>
			</div>
		</fieldset>

		<fieldset class="fieldset">
			<legend translate="GENERAL_IMPORT">Import</legend>
			<div translate="TOURNAMENTS_IMPORT_INSTRUCTIONS">To import players into this app, navigate to your Tournaments.json file you have saved.</div>
			<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
		</fieldset>

	  <div class="text-right">
	  	<button class="button small primary" ng-click="closeImportExportTournamentDialog()"  type="button" translate="GENERAL_CLOSE"></button>
	  </div>
	</div>
</div>


<div ng-show="showEditTournamentPlayersDialog == true">
	<div class="landscape-view-please">
		<span translate="GENERAL_ROTATE_TO_LANDSCAPE">Please rotate your device to landscape for optimal viewing</span>
	</div>
</div>
<div class="modal-container modal" ng-show="showEditTournamentPlayersDialog == true">
	<div class="reveal">
		<div class="row">
			<div class="columns small-6">
				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_PLAYERS_AVAILABLE">Available Players</legend>
					<div class="text-right">
						<button ng-click="newPlayerDialog()" class="inline-block button primary small"><i class="fa fa-user-plus"></i></button>
					</div>

					<div ng-hide="availablePlayers.length > 0" class="text-center">
						<div translate="TOURNAMENTS_NO_AVAILABLE_PLAYERS"></div>
						<a class="button primary" href="#/players-manage/" ng-class="{currentItem:currentPlayersPage == true}" title="{{ 'TOURNAMENTS_GO_TO_PLAYERS' | translate }}" translate="TOURNAMENTS_GO_TO_PLAYERS">Go There Now</a>

					</div>
					<table ng-show="availablePlayers.length > 0">
						<thead>
							<tr>
								<th translate="GENERAL_NAME">Name</th>
								<th>&nbsp;</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="playerObj in availablePlayers track by $index">
								<td>
									<button ng-click="editPlayerDialog(playerObj.id)" class="inline-block button primary tiny no-bottom-margin"><i class="fa fa-edit"></i></button>
									{{ playerObj.name.last }}, {{ playerObj.name.first }} {{ playerObj.name.nick }}
								</td>
								<td class="no-wrap text-right larger-font">
									<a ng-click="addPlayerToTournament(playerObj.id)"><i class="fa fa-arrow-right"></i></a>
								</td>
							</tr>
						</tbody>

						<tfoot>
						</tfoot>
					</table>
				</fieldset>
			</div>
			<div class="columns small-6">
				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_PLAYERS_PARTCIPATING">Participating Players</legend>

					<div ng-hide="participatingPlayers.length > 0" class="text-center">
						<div translate="TOURNAMENTS_NO_PLAYERS"></div>

					</div>
					<table ng-show="participatingPlayers.length > 0">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th translate="GENERAL_NAME">Name</th>

							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="playerObj in participatingPlayers track by $index">
								<td class="no-wrap text-left larger-font">
									<a ng-click="removePlayerFromTournament(playerObj.id)"><i class="fa fa-arrow-left"></i></a>
								</td>
								<td>
									{{ playerObj.name.last }}, {{ playerObj.name.first }} {{ playerObj.name.nick }}
<!--
									<button ng-click="editPlayerDialog(playerObj.id)" class="pull-right inline-block button primary tiny no-bottom-margin"><i class="fa fa-edit"></i></button>
-->
								</td>

							</tr>
						</tbody>

						<tfoot>
						</tfoot>
					</table>
				</fieldset>
			</div>
		</div>

	  <div class="text-right">
	  	<button class="button small primary" ng-click="closeTournamentPlayersDialog()"  type="button" translate="GENERAL_CLOSE"></button>
	  </div>
	</div>
</div>

<div class="modal-container even-modaler" ng-show="showEditTournamentDialog == true">
	<div class="reveal">
		<div class="row">
			<div class="columns small-12">
				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_NAME">Tournament Name</legend>
					<input type="text" ng-model="tmpTournament.name" ng-change="updateTournamentName(tmpTournament.name)"  />
				</fieldset>

				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_TYPE">Tournament Type</legend>
					<select ng-model="tmpTournament.type" ng-change="updateTournamentType(tmpTournament.type)">
						<option value="swiss" translate="TOURNAMENTS_SWISS">Swiss</option>
						<option value="steamroller" translate="TOURNAMENTS_STEAMROLLER">Steamroller</option>
					</select>
				</fieldset>
			</div>
		</div>

		<div class="row" ng-show="tmpTournament.type == 'steamroller'">
				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_STEAMROLLER">Base Scoring</legend>

					<p translate="TOURNAMENTS_STEAMROLLER_NO_OPTIONS">No Options here.</p>
				</fieldset>
		</div>

		<div class="row" ng-show="tmpTournament.type == 'swiss'">

			<div class="columns small-12 medium-6">
				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_BASE_SCORING">Base Scoring</legend>
						<label>
							<span translate="TOURNAMENTS_POINTS_FOR_WIN"></span><br />
							<input type="number" ng-model="tmpTournament.pointsForWin" ng-change="updateTournamentPointsForWin(tmpTournament.pointsForWin)"  />
						</label>
						<label>
							<span translate="TOURNAMENTS_POINTS_FOR_DRAW"></span><br />
							<input type="number" ng-model="tmpTournament.pointsForDraw" ng-change="updateTournamentPointsForDraw(tmpTournament.pointsForDraw)"  />
						</label>
						<label>
							<span translate="TOURNAMENTS_POINTS_FOR_LOSS"></span><br />
							<input type="number" ng-model="tmpTournament.pointsForLoss" ng-change="updateTournamentPointsForLoss(tmpTournament.pointsForLoss)"  />
						</label>

						<label>
							<input type="checkbox" ng-model="tmpTournament.byeIsAverage" ng-change="updateByeIsAverage(tmpTournament.byeIsAverage)" /> <span translate="TOURNAMENTS_BYE_IS_AVERAGE">Active</span><br />
						</label>
						<label ng-show="tmpTournament.byeIsAverage == false">
							<span translate="TOURNAMENTS_POINTS_FOR_BYE"></span><br />
							<input type="number" ng-model="tmpTournament.pointsForBye" ng-change="updateTournamentPointsForBye(tmpTournament.pointsForBye)"  />
						</label>


				</fieldset>

				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_EXTRA_SCORING">Extra Scoring</legend>

						<label>
							<input type="checkbox" ng-model="tmpTournament.scoringPaint" ng-change="updateTournamentScoringPaint(tmpTournament.scoringPaint)" /> <span translate="TOURNAMENTS_SCORING_PAINT">Score Painting</span><br />

						</label>

						<label>
							<input type="checkbox" ng-model="tmpTournament.scoringComp" ng-change="updateTournamentScoringComp(tmpTournament.scoringComp)" /> <span translate="TOURNAMENTS_SCORING_COMP">Score Army Composition</span><br />

						</label>

						<label>
							<input type="checkbox" ng-model="tmpTournament.scoringSportsmanship" ng-change="updateTournamentScoringSportsmanship(tmpTournament.scoringSportsmanship)" /> <span translate="TOURNAMENTS_SCORING_SPORTSMANSHIP">Score Sportsmanship</span><br />

						</label>

				</fieldset>
			</div>
			<div class="columns small-12 medium-6">
				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_GENERAL_SETTINGS">General Settings</legend>
						<label>
							<span translate="TOURNAMENTS_NUMBER_OF_ROUNDS"></span><br />
							<input type="number" ng-model="tmpTournament.numberOfRounds" ng-change="updateTournamentRounds(tmpTournament.numberOfRounds)"  />
						</label>
						<label>
							<input type="checkbox" ng-model="tmpTournament.trackPerGameSportsmanship" ng-change="updateTournamentTrackPerGameSportsmanship(tmpTournament.trackPerGameSportsmanship)" /> <span translate="TOURNAMENTS_SPORTSMANSHIP_PER_GAME">Track per game sportsmanship</span><br />

						</label>
						<label ng-show="tmpTournament.trackPerGameSportsmanship == true">
							<span translate="TOURNAMENTS_SPORTSMANSHIP_WARN"></span><br />
							<input type="number" ng-model="tmpTournament.warnSportsmanship" ng-change="updateTournamentWarnSportsmanship(tmpTournament.warnSportsmanship)"  />
						</label>
				</fieldset>

				<fieldset class="fieldset">
					<legend translate="TOURNAMENTS_MATCHUP_SETTINGS">Match Settings</legend>
					<label>
						<span translate="TOURNAMENTS_MATCHUP_ORDERING">Matchup Ordering</span><br />
						<select ng-options="item as item.label for item in tournamentMatchupOptions track by item.id" ng-change="updateTmpMatchupSelection( tmpMatchupSelection ) "  ng-model="tmpMatchupSelection"></select>
					</label>
					<label>
						<input type="checkbox" ng-model="tmpTournament.noDuplicateMatchups" ng-change="updateNoDuplicateMatchups( tmpTournament.noDuplicateMatchups ) " />
						<span translate="TOURNAMENTS_MATCHUP_NO_DUPLICATES">No Duplicate Matchups, if possible</span><br />

					</label>
				</fieldset>

			</div>
		</div>

		  <div class="text-right">
		  	<button class="button small secondary" ng-click="closeEditTournamentDialog()"  type="button" translate="GENERAL_CANCEL"></button>

		  	<button class="button small primary" ng-show="tmpTournamentIndex > -1" ng-click="saveEditTournamentDialog()" type="button" translate="GENERAL_SAVE"></button>
		  	<button class="button small primary" ng-show="tmpTournamentIndex < 0" ng-click="saveEditTournamentDialog()" type="button" translate="GENERAL_ADD"></button>

		  </div>
	</div>
</div>




<div class="modal-container even-modaler" ng-show="showEditScoreDialog == true">
	<div class="reveal">
		<h4 class="pull-right"><span translate="GENERAL_ROUND">Round</span> {{editRoundNumber}}</h4>
		<h4 class="text-left" translate="TOURNAMENT_EDITING_GAME_SCORES">Editing Game Scores</h4>
		<div class="row" ng-show="currentTournament.type == 'steamroller'">
			<div class="columns small-12 medium-6">
				<fieldset class="fieldset">
					<legend><span translate="TOURNAMENT_PLAYER_1">Player 1</span>: {{editScorePlayer1.displayName}}</legend>
					<div class="text-center">
						<span ng-hide="editScorePlayer1.name.nick != ''"><h4 class="player-name"><strong>{{editScorePlayer1.name.first}}</strong> {{editScorePlayer1.name.last}}</h4></span>

						<span ng-show="editScorePlayer1.name.nick != ''"><h4 class="player-name">{{editScorePlayer1.name.first}} <strong>"{{editScorePlayer1.name.nick}}"</strong> {{editScorePlayer1.name.last}}</h4></span>
					</div>

						<button class="expanded rounded button" ng-class="{primary:tmpPlayer1Score == '-1',secondary:tmpPlayer1Score != '-1'}" ng-click="changePlayerScore(1, '-1')" translate="GENERAL_NOT_ENTERED">Not Entered</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer1Score == 'win',secondary:tmpPlayer1Score != 'win'}" ng-click="changePlayerScore(1, 'win')" translate="GENERAL_WIN">Win</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer1Score == 'loss',secondary:tmpPlayer1Score != 'loss'}" ng-click="changePlayerScore(1, 'loss')" translate="GENERAL_LOSS">Loss</button>


						<label>
							<span translate="TOURNAMENT_CONTROL_POINTS">Control Points</span>
							<input type="number" ng-model="tmpPlayer1SteamControlPoints" ng-change="changeSteamControlPoints( 1, tmpPlayer1SteamControlPoints)" />
						</label>
						<label>
							<span translate="TOURNAMENT_ARMY_POINTS">Army Points</span>
							<input type="number" ng-model="tmpPlayer1SteamArmyPoints" ng-change="changeSteamArmyPoints( 1, tmpPlayer1SteamArmyPoints)" />
						</label>
				</fieldset>
			</div>
			<div class="columns small-12 medium-6">
				<fieldset class="fieldset">
					<legend><span translate="TOURNAMENT_PLAYER_2">Player 2</span>: {{editScorePlayer2.displayName}}</legend>
					<div class="text-center">
						<span ng-hide="editScorePlayer2.name.nick != ''"><h4 class="player-name"><strong>{{editScorePlayer2.name.first}}</strong> {{editScorePlayer2.name.last}}</h4></span>

						<span ng-show="editScorePlayer2.name.nick != ''"><h4 class="player-name">{{editScorePlayer2.name.first}} <strong>"{{editScorePlayer2.name.nick}}"</strong> {{editScorePlayer2.name.last}}</h4></span>

					</div>

						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == '-1',secondary:tmpPlayer2Score != '-1'}" ng-click="changePlayerScore(2, '-1')" translate="GENERAL_NOT_ENTERED">Not Entered</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == 'win',secondary:tmpPlayer2Score != 'win'}" ng-click="changePlayerScore(2, 'win')" translate="GENERAL_WIN">Win</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == 'loss',secondary:tmpPlayer2Score != 'loss'}" ng-click="changePlayerScore(2, 'loss')" translate="GENERAL_LOSS">Loss</button>

						<label>
							<span translate="TOURNAMENT_CONTROL_POINTS">Control Points</span>
							<input type="number" ng-model="tmpPlayer2SteamControlPoints" ng-change="changeSteamControlPoints( 2, tmpPlayer2SteamControlPoints)" />
						</label>
						<label>
							<span translate="TOURNAMENT_ARMY_POINTS">Army Points</span>
							<input type="number" ng-model="tmpPlayer2SteamArmyPoints" ng-change="changeSteamArmyPoints( 2, tmpPlayer2SteamArmyPoints)" />
						</label>
				</fieldset>
			</div>
		</div>
		<div class="row" ng-show="currentTournament.type == 'swiss'">
			<div class="columns small-12 medium-6">
				<fieldset class="fieldset">
					<legend><span translate="TOURNAMENT_PLAYER_1">Player 1</span>: {{editScorePlayer1.displayName}}</legend>
					<div class="text-center">
						<span ng-hide="editScorePlayer1.name.nick != ''"><h4 class="player-name"><strong>{{editScorePlayer1.name.first}}</strong> {{editScorePlayer1.name.last}}</h4></span>

						<span ng-show="editScorePlayer1.name.nick != ''"><h4 class="player-name">{{editScorePlayer1.name.first}} <strong>"{{editScorePlayer1.name.nick}}"</strong> {{editScorePlayer1.name.last}}</h4></span>
					</div>

						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer1Score == '-1',secondary:tmpPlayer1Score != '-1'}" ng-click="changePlayerScore(1, '-1')" translate="GENERAL_NOT_ENTERED">Not Entered</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer1Score == 'win',secondary:tmpPlayer1Score != 'win'}" ng-click="changePlayerScore(1, 'win')" translate="GENERAL_WIN">Win</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer1Score == 'draw',secondary:tmpPlayer1Score != 'draw'}" ng-click="changePlayerScore(1, 'draw')" translate="GENERAL_DRAW">Draw</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer1Score == 'loss',secondary:tmpPlayer1Score != 'loss'}" ng-click="changePlayerScore(1, 'loss')" translate="GENERAL_LOSS">Loss</button>
						<label>
							<span translate="TOURNAMENT_EXTRA_POINTS">Extra Points</span>
							<input type="number" ng-model="tmpPlayer1ExtraPoints" ng-change="changePlayerExtraPoints( 1, tmpPlayer1ExtraPoints)" />
						</label>
				</fieldset>
			</div>
			<div class="columns small-12 medium-6">
				<fieldset class="fieldset">
					<legend><span translate="TOURNAMENT_PLAYER_2">Player 2</span>: {{editScorePlayer2.displayName}}</legend>
					<div class="text-center">
						<span ng-hide="editScorePlayer2.name.nick != ''"><h4 class="player-name"><strong>{{editScorePlayer2.name.first}}</strong> {{editScorePlayer2.name.last}}</h4></span>

						<span ng-show="editScorePlayer2.name.nick != ''"><h4 class="player-name">{{editScorePlayer2.name.first}} <strong>"{{editScorePlayer2.name.nick}}"</strong> {{editScorePlayer2.name.last}}</h4></span>

					</div>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == '-1',secondary:tmpPlayer2Score != '-1'}" ng-click="changePlayerScore(2, '-1')" translate="GENERAL_NOT_ENTERED">Not Entered</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == 'win',secondary:tmpPlayer2Score != 'win'}" ng-click="changePlayerScore(2, 'win')" translate="GENERAL_WIN">Win</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == 'draw',secondary:tmpPlayer2Score != 'draw'}" ng-click="changePlayerScore(2, 'draw')" translate="GENERAL_DRAW">Draw</button>
						<button class="expanded rounded  button" ng-class="{primary:tmpPlayer2Score == 'loss',secondary:tmpPlayer2Score != 'loss'}" ng-click="changePlayerScore(2, 'loss')" translate="GENERAL_LOSS">Loss</button>



						<label>
							<span translate="TOURNAMENT_EXTRA_POINTS">Extra Points</span>
							<input type="number" ng-model="tmpPlayer2ExtraPoints" ng-change="changePlayerExtraPoints( 2, tmpPlayer2ExtraPoints)" />
						</label>

				</fieldset>
			</div>
		</div>
		<div class="text-right">
			<button class="button small secondary" ng-click="cancelEditScoreDialog()"  type="button" translate="GENERAL_CANCEL"></button>
			<button class="button small primary" ng-click="saveEditScoreDialog()"  type="button" translate="GENERAL_SAVE"></button>
		</div>
	</div>
</div>

<div class="modal-container even-modaler" ng-show="playerMatchupDialog == true">
	<div class="reveal">
		<fieldset class="fieldset">
			<legend translate="TOURNAMENT_ROUND_MATCHUPS">Tournament Matchups</legend>
			<table>
				<thead>
					<tr>
						<th translate="TOURNAMENT_TABLE_NUMBER">Table Number</th>
						<th>&nbsp;</th>
						<th translate="TOURNAMENT_PLAYER_1">Player 1</th>
						<th>&nbsp;</th>
						<th translate="TOURNAMENT_PLAYER_2">Player</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="matchup in currentTournament.matchupObjs[ currentTournament.currentRound + 1 ] track by $index" ng-class="{'has-played-each-other':currentTournament.hasPlayedEachOther(matchup.player1.id, matchup.player2.id)}">
						<td>{{matchup.table}}</td>
						<td>
							<button ng-hide="matchup.player1.id == tmpMatchupSwappingID" class="button primary tiny" ng-click="swapPlayerButton( matchup.player1.id );" translate="TOURNAMENT_SWAP">Swap</button>
						</td>
						<td>
							<span ng-show="currentTournament.currentRound > 0">#{{matchup.player1.rank}} - </span>
							<span ng-hide="matchup.player1.name.nick != ''"><strong>{{matchup.player1.name.first}}</strong> {{matchup.player1.name.last}}</span>

							<span ng-show="matchup.player1.name.nick != ''">{{matchup.player1.name.first}} <strong>"{{matchup.player1.name.nick}}"</strong> {{matchup.player1.name.last}}</span>

						</td>
						<td>
							<div ng-show="matchup.player2">
								<button ng-hide="matchup.player2.id == tmpMatchupSwappingID" class="button primary tiny" ng-click="swapPlayerButton( matchup.player2.id );" translate="TOURNAMENT_SWAP">Swap</button>
							</div>
						</td>
						<td>
							<div ng-show="matchup.player2 == null" translate="GENERAL_BYE"></div>
							<div ng-show="matchup.player2">
								<span ng-show="currentTournament.currentRound > 0">#{{matchup.player2.rank}} - </span>
								<span ng-hide="matchup.player2.name.nick != ''"><strong>{{matchup.player2.name.first}}</strong> {{matchup.player2.name.last}}</span>

								<span ng-show="matchup.player2.name.nick != ''">{{matchup.player2.name.first}} <strong>"{{matchup.player2.name.nick}}"</strong> {{matchup.player2.name.last}}</span>

							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center" ng-show="tmpMatchupSwappingID > 0">
				<span translate="TOURNAMENT_CHOOSE_PLAYER_TO_SWAP">Choose Player To Swap</span><br />
				<button class="button primary tiny" ng-click="cancelSwap();" translate="TOURNAMENT_CANCEL_SWAP">Cancel Swap</button>
			</div>
		</fieldset>

		<div class="float-left">
			<button class="button small secondary" ng-click="resetMatchups()" type="button" translate="GENERAL_RESET"></button>
		</div>
	  <div class="text-right">
		<button class="button small secondary" ng-click="closePlayerMatchupDialog()"  type="button" translate="GENERAL_CANCEL"></button>
	  	<button class="button small primary" ng-click="startNextRound()"  type="button" translate="TOURNAMENT_START_ROUND"></button>
	  </div>
	</div>
</div>


<div class="modal-container even-modaler" ng-show="showEditPaintScore == true">
	<div class="reveal">
		<fieldset class="fieldset">
			<legend><span translate="TOURNAMENT_EDIT_PAINTING_SCORE">Edit Painting Score</span>: {{tmpEditPlayer.displayName}}</legend>
				<label>
					<span translate="TOURNAMENT_PAINTING_SCORE">Painting Score</span>
					<input type="number" ng-model="tmpEditExtraPointValue" ng-change="changeExtraBitsScore(  tmpEditExtraPointValue)" />
				</label>
		</fieldset>
		<div class="text-right">
			<button class="button small secondary" ng-click="cancelEditScore()"  type="button" translate="GENERAL_CANCEL"></button>
			<button class="button small primary" ng-click="savePaintScore()"  type="button" translate="GENERAL_SAVE"></button>
		</div>
	</div>
</div>

<div class="modal-container even-modaler" ng-show="showEditCompScore == true">
	<div class="reveal">
		<fieldset class="fieldset">
			<legend><span translate="TOURNAMENT_EDIT_COMPOSITION_SCORE">Edit Painting Score</span>: {{tmpEditPlayer.displayName}}</legend>
				<label>
					<span translate="TOURNAMENT_COMPOSITION_SCORE">Painting Score</span>
					<input type="number" ng-model="tmpEditExtraPointValue" ng-change="changeExtraBitsScore(  tmpEditExtraPointValue)" />
				</label>
		</fieldset>
		<div class="text-right">
			<button class="button small secondary" ng-click="cancelEditScore()"  type="button" translate="GENERAL_CANCEL"></button>
			<button class="button small primary" ng-click="saveCompScore()"  type="button" translate="GENERAL_SAVE"></button>
		</div>
	</div>
</div>

<div class="modal-container even-modaler" ng-show="showEditSportsScore == true">
	<div class="reveal">
		<fieldset class="fieldset">
			<legend><span translate="TOURNAMENT_EDIT_SPORTSMANSHIP_SCORE">Edit Painting Score</span>: {{tmpEditPlayer.displayName}}</legend>
				<label>
					<span translate="TOURNAMENT_SPORTSMANSHIP_SCORE">Painting Score</span>
					<input type="number" ng-model="tmpEditExtraPointValue" ng-change="changeExtraBitsScore( tmpEditExtraPointValue)" />
				</label>
		</fieldset>
		<div class="text-right">
			<button class="button small secondary" ng-click="cancelEditScore()"  type="button" translate="GENERAL_CANCEL"></button>
			<button class="button small primary" ng-click="saveSportsScore()"  type="button" translate="GENERAL_SAVE"></button>
		</div>
	</div>
</div>
