<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/dialogs.html'"></div>
<div class="row">

	<div class="column small-12">

		<fieldset class="fieldset">
			<legend translate="WELCOME_BUTTON_MANAGE_PLAYERS">Manage Players</legend>
			<label>
				<input placeholder="{{filterSearchPlayersPlaceholder}}" type="text" class="no-bottom-margin" ng-model="filterSearchTerm" />
			</label>
			<table>
				<thead>
					<tr>
<!--
						<th translate="GENERAL_ID">id</th>
-->
						<th translate="GENERAL_NAME_FIRST">First Name</th>
						<th translate="GENERAL_NAME_LAST">Last Name</th>
						<th translate="GENERAL_NAME_NICK">Nickname</th>
						<th class="hide-for-small-only" translate="GENERAL_EMAIL">Email</th>
						<th class="hide-for-small-only" translate="GENERAL_PHONE">Phone</th>
						<th translate="GENERAL_ACTIVE">Active</th>
<!--
						<th translate="GENERAL_DELETED">Deleted</th>
-->
						<th>&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					<tr
					ng-repeat="playerObj in activePlayers track by $index"
					ng-show="filterSearchTerm == '' || playerObj.name.first.toLowerCase().indexOf(filterSearchTerm.trim().toLowerCase()) > -1 || playerObj.name.nick.toLowerCase().indexOf(filterSearchTerm.trim().toLowerCase()) > -1 || playerObj.name.last.toLowerCase().indexOf(filterSearchTerm.trim().toLowerCase()) > -1"
				>
<!--
							<td>{{ playerObj.id }}</td>
-->
							<td>{{ playerObj.name.first }}</td>
							<td>{{ playerObj.name.last }}</td>
							<td>{{ playerObj.name.nick }}</td>
							<td class="hide-for-small-only">{{ playerObj.email }}</td>
							<td class="hide-for-small-only">{{ playerObj.phone1 }}</td>
							<td><i class="fa fa-check" ng-show="playerObj.active"></i></td>
<!--
							<td ng-hide="playerObj.deleted"><i class="fa fa-check" ng-show="playerObj.deleted"></i></td>
-->
							<td class="no-wrap larger-font">
								<a ng-click="editPlayerDialog( playerObj.id );" title="{{ 'GENERAL_ITEM_EDIT' | translate }}"><i class="fa fa-edit"></i></a>
								<a ng-click="deletePlayerDialog( playerObj.id );" title="{{ 'GENERAL_ITEM_REMOVE' | translate }}"><i class="fa fa-trash"></i></a>
							</td>
					</tr>
				</tbody>

				<tfoot>
				</tfoot>
			</table>
			<div class="text-center" ng-show="numPlayers == 0" translate="PLAYERS_NO_PLAYERS">You have no players</div>
		</fieldset>

	</div>
</div>
