<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/dialogs.html'"></div>
<div class="row">

	<div class="column small-12">

		<fieldset class="fieldset">
			<legend translate="WELCOME_BUTTON_MANAGE_TOURNAMENTS">Manage Tournaments</legend>
			<table>
				<thead>
					<tr>
<!--
						<th translate="GENERAL_ID">ID</th>
-->
						<th translate="GENERAL_NAME">First Name</th>
						<th class="no-wrap" translate="GENERAL_CREATED">Created</th>
						<th class="no-wrap" translate="TOURNAMENTS_NUM_PLAYERS"># Players</th>
						<th class="no-wrap" translate="TOURNAMENTS_ROUND_NO">Round #</th>
						<th class="no-wrap" translate="TOURNAMENTS_FINISHED">Finished</th>
						<th>&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="tournObj in tournamentList track by $index">
<!--
						<td>{{ tournObj.id }}</td>
-->
						<td>{{ tournObj.name }}</td>
						<td>{{ tournObj.created.toLocaleFormat() }}</td>
						<td>{{ tournObj.playerObjs.length }}</td>
						<td>{{ tournObj.currentRound }}</td>
						<td><i class="fa fa-check" ng-show="tournObj.completed"></i></td>

						<td class="text-right no-wrap larger-font">
							<a ng-click="showTournamentResults( $index );" ng-show="tournObj.completed"><i class="fa fa-pdf"></i></a>
							<a ng-click="showTournamentPage( $index );" ng-hide="tournObj.completed || tournObj.playerObjs.length == 0"><i class="fa fa-play"></i></a>
							<a ng-click="editTournamentPlayersDialog( $index );" title="{{ 'TOURNAMENTS_EDIT_PLAYERS' | translate }}"><i class="fa fa-users"></i></a>
							<a ng-click="editTournamentDialog( $index );" title="{{ 'GENERAL_ITEM_EDIT' | translate }}"><i class="fa fa-edit"></i></a>
							<a ng-click="deleteTournamentDialog( $index );" title="{{ 'GENERAL_ITEM_REMOVE' | translate }}"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				</tbody>

				<tfoot>
				</tfoot>
			</table>
			<div class="text-center" ng-show="tournamentList.length == 0" translate="TOURNAMENTS_NO_TOURNAMENTS">There are no tournaments here.</div>
		</fieldset>



	</div>
</div>
