<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/dialogs.html'"></div>
<div class="row">

	<div class="column small-12">

		<fieldset class="fieldset">
			<legend translate="TOURNAMENT_IN_PLAY">Tournament In Play</legend>

			<div ng-show="currentTournament == null">
				<h2 translate="GENERAL_ERROR">Error</h2>
				<p translate="TOURNAMENT_NO_CURRENT_TOURNAMENT"></p>
			</div>

			<div ng-show="currentTournament != null">
				<h4 class="text-center">
					<span translate="TOURNAMENT_CURRENT_ROUND">Current Round</span>
					<span ng-bind="currentTournament.currentRound">-1</span>
				</h4>
				<table>

					<thead>
						<tr>
							<th>&nbsp;</th>
							<th class="text-center" colspan="{{currentTournament.numberOfRounds}}">Round #</th>
							<th  class="text-center" colspan="5">Scoring</th>
						</tr>
						<tr>
							<th translate="GENERAL_PLAYER">Player</th>
							<th class="text-center" ng-repeat="n in [].constructor( currentTournament.numberOfRounds ) track by $index">{{$index + 1}}</th>
							<th class="text-center" translate="TOURNAMENT_BASE_SCORE">Base Score</th>

							<th ng-show="currentTournament.scoringPaint" class="text-center" translate="TOURNAMENT_PAINTING_SCORE">Painting</th>
							<th ng-show="currentTournament.scoringComp" class="text-center" translate="TOURNAMENT_COMPOSITION_SCORE">Comp</th>
							<th ng-show="currentTournament.scoringSportsmanship" class="text-center" translate="TOURNAMENT_SPORTSMANSHIP_SCORE">Sports</th>

							<th class="text-center" translate="TOURNAMENT_FINAL_SCORE">Final Score</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="playerObjs in currentTournament.playerObjs">
							<td>
								<span ng-hide="playerObjs.name.nick != ''">{{playerObjs.name.last}}, {{playerObjs.name.first}}</span>

								<span ng-show="playerObjs.name.nick != ''">"{{playerObjs.name.nick}}"</span>
							</td>

							<td class="text-center" ng-click="editScore(playerObjs.id, $index)" ng-repeat="n in [].constructor( currentTournament.numberOfRounds ) track by $index">
								<div class="cursor-pointer" ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] > -1">{{currentTournament.scoring[$index][playerObjs.id]}}</div>
								<div class="cursor-pointer" ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] < 0" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/e</div>

								<div ng-hide="currentTournament.currentRound > $index" title="{{ 'TOURNAMENT_NOT_AVAILABLE' | translate }}" translate="TOURNAMENT_NA">n/a</div>
							</td>
							<td class="text-center">{{playerObjs.pointsBase}}</td>

							<td ng-show="currentTournament.scoringPaint" ng-click="editPaintingScore(playerObjs.id)" class="text-center cursor-pointer"">
								<div ng-show="currentTournament.pointsPainting[ playerObjs.id ] > -1">{{currentTournament.pointsPainting[ playerObjs.id ]}}</div>
								<div ng-hide="currentTournament.pointsPainting[ playerObjs.id ] > -1" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/a</div>
							</td>
							<td ng-show="currentTournament.scoringComp" ng-click="editCompositionScore(playerObjs.id)" class="text-center cursor-pointer"">
								<div ng-show="currentTournament.pointsComposition[ playerObjs.id ] > -1">{{currentTournament.pointsComposition[ playerObjs.id ]}}</div>
								<div ng-hide="currentTournament.pointsComposition[ playerObjs.id ] > -1" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/a</div>
							</td>
							<td ng-show="currentTournament.scoringSportsmanship" ng-click="editSportsmanshipScore(playerObjs.id)" class="text-center cursor-pointer"">
								<div ng-show="currentTournament.pointsSportsmanship[ playerObjs.id ] > -1">{{currentTournament.pointsSportsmanship[ playerObjs.id ]}}</div>
								<div ng-hide="currentTournament.pointsSportsmanship[ playerObjs.id ] > -1" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/a</div>
							</td>

							<td class="text-center">{{playerObjs.pointsFinal}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>

	</div>
</div>
