<div ng-include="'pages/global-header.html'"></div>
<div ng-include="'pages/dialogs.html'"></div>
<div class="row">

	<div class="column small-12">

		<fieldset class="fieldset">
			<legend translate="TOURNAMENT_IN_PLAY">Tournament In Play</legend>

			<div ng-show="currentTournament == null">
				<h2 translate="GENERAL_ERROR">Error</h2>
				<p translate="TOURNAMENT_NO_CURRENT_TOURNAMENT"></p>
			</div>

			<div ng-show="currentTournament != null">
				<h4 class="text-center">
					<button class="pull-left button primary" ng-click="closeCurrentTournament()" translate="TOURNAMENT_CLOSE_TOURNAMENT">Close Tournament</button>


					<button ng-show="currentTournament.currentRound > 0 && currentTournament.currentRound < currentTournament.numberOfRounds - 1" class="pull-right button primary" ng-click="setupNextRound()" translate="TOURNAMENT_START_NEXT_ROUND">Next Round</button>
					<button ng-show="currentTournament.currentRound < 1" class="pull-right button primary" ng-click="setupNextRound()" translate="TOURNAMENT_START_FIRST_ROUND">First Round</button>
					<button ng-show="currentTournament.currentRound == currentTournament.numberOfRounds - 1" class="pull-right button primary" ng-click="setupNextRound()" translate="TOURNAMENT_START_FINAL_ROUND">Final Round</button>
					<button ng-show="currentTournament.currentRound == currentTournament.numberOfRounds && currentTournament.completed == false" class="pull-right button primary" ng-click="completeTournament()" translate="TOURNAMENT_COMPLETE_TOURNAMENT">Final Round</button>

					<span translate="TOURNAMENT_CURRENT_ROUND">Current Round</span>
					<span ng-show="currentTournament.currentRound > 0 && currentTournament.currentRound < currentTournament.numberOfRounds" ng-bind="currentTournament.currentRound">-1</span>
					<span ng-show="currentTournament.currentRound < 1" translate="TOURNAMENT_PRE_SETUP">Pre-Setup</span>
					<span ng-show="currentTournament.currentRound >= currentTournament.numberOfRounds" translate="TOURNAMENT_FINAL_ROUND">Final Round</span>



				</h4>
				<table>
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th class="text-center" colspan="{{currentTournament.numberOfRounds}}">Round #</th>
							<th  class="text-center" colspan="5">Scoring</th>
						</tr>
						<tr>
							<th translate="GENERAL_PLAYER">Player</th>
							<th class="text-center" ng-repeat="n in [].constructor( currentTournament.numberOfRounds ) track by $index">{{$index + 1}}</th>
							<th class="text-center" ng-hide="currentTournament.type=='steamroller'" translate="TOURNAMENT_BASE_SCORE">Base Score</th>

							<th ng-show="currentTournament.scoringPaint" class="text-center" translate="TOURNAMENT_PAINTING_SCORE">Painting</th>
							<th ng-show="currentTournament.scoringComp" class="text-center" translate="TOURNAMENT_COMPOSITION_SCORE">Comp</th>
							<th ng-show="currentTournament.scoringSportsmanship" class="text-center" translate="TOURNAMENT_SPORTSMANSHIP_SCORE">Sports</th>

							<th class="text-center" translate="TOURNAMENT_FINAL_SCORE">Final Score</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="playerObjs in currentTournament.playerObjs">
							<td>
								<span ng-hide="playerObjs.name.nick != ''"><strong>{{playerObjs.name.first}}</strong> {{playerObjs.name.last}}</span>

								<span ng-show="playerObjs.name.nick != ''">{{playerObjs.name.first}} <strong>"{{playerObjs.name.nick}}"</strong> {{playerObjs.name.last}}</span>
							</td>
							<td class="text-left" ng-repeat="n in [].constructor( currentTournament.numberOfRounds ) track by $index">

								<div ng-click="editScore(playerObjs.id, $index + 1)" class="cursor-pointer" ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] != 'bye' && currentTournament.scoring[$index][playerObjs.id] == 'win'">
									<span class="color-green" translate="GENERAL_WIN"></span>
									<span ng-show="currentTournament.type == 'swiss'">
										(
										{{currentTournament.pointsForWin}}
										<span ng-show="currentTournament.extraPoints[$index][playerObjs.id] > 0"> + {{currentTournament.extraPoints[$index][playerObjs.id]}}</span>
										)
									</span>
									<span ng-show="currentTournament.type == 'steamroller'">
										(
											{{currentTournament.steamControlPoints[$index][playerObjs.id]}}
											/
											{{currentTournament.steamArmyPoints[$index][playerObjs.id]}}
										)
									</span>
								</div>
								<div ng-click="editScore(playerObjs.id, $index + 1)" class="cursor-pointer" ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] != 'bye' && currentTournament.scoring[$index][playerObjs.id] == 'draw'">
									<span class="color-yellow" translate="GENERAL_DRAW"></span>
									<span ng-show="currentTournament.type == 'swiss'">
										(
										{{currentTournament.pointsForDraw}}
										<span ng-show="currentTournament.extraPoints[$index][playerObjs.id] > 0"> + {{currentTournament.extraPoints[$index][playerObjs.id]}}</span>
										)
									</span>
									<span ng-show="currentTournament.type == 'steamroller'">
										(
											{{currentTournament.steamControlPoints[$index][playerObjs.id]}}
											/
											{{currentTournament.steamArmyPoints[$index][playerObjs.id]}}
										)
									</span>
								</div>
								<div ng-click="editScore(playerObjs.id, $index + 1)" class="cursor-pointer" ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] != 'bye' && currentTournament.scoring[$index][playerObjs.id] == 'loss'">
									<span class="color-red" translate="GENERAL_LOSS"></span>
									<span ng-show="currentTournament.type == 'swiss'">
										(
										{{currentTournament.pointsForLoss}}
										<span ng-show="currentTournament.extraPoints[$index][playerObjs.id] > 0"> + {{currentTournament.extraPoints[$index][playerObjs.id]}}</span>
										)
									</span>
									<span ng-show="currentTournament.type == 'steamroller'">
										(
											{{currentTournament.steamControlPoints[$index][playerObjs.id]}}
											/
											{{currentTournament.steamArmyPoints[$index][playerObjs.id]}}
										)
									</span>
								</div>

								<div ng-click="editScore(playerObjs.id, $index + 1)" class="cursor-pointer" ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] != 'bye' && currentTournament.scoring[$index][playerObjs.id] < 0" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/e</div>
								<div ng-show="currentTournament.currentRound > $index && currentTournament.scoring[$index][playerObjs.id] == 'bye'" title="{{ 'TOURNAMENT_GAME_IS_BYE' | translate }}">
									<span translate="GENERAL_BYE">bye</span>
										<span ng-show="currentTournament.type == 'steamroller'">
										(
											{{currentTournament.byeSteamControlPoints[playerObjs.id]}}
											/
											{{currentTournament.byeSteamArmyPoints[playerObjs.id]}}
										)
										</span>
										<span ng-show="currentTournament.type != 'steamroller' && currentTournament.byeIsAverage">
											(
												{{currentTournament.byePoints[playerObjs.id]}}
											)
										</span>
								</div>

								<div ng-hide="currentTournament.currentRound > $index" title="{{ 'TOURNAMENT_NOT_AVAILABLE' | translate }}" translate="TOURNAMENT_NA" class="darker-text">n/a</div>
							</td>
							<td class="text-center" ng-hide="currentTournament.type=='steamroller'">
								{{playerObjs.pointsBase}}


							</td>

							<td ng-show="currentTournament.scoringPaint" ng-click="editPaintingScore(playerObjs.id)" class="text-center cursor-pointer"">
								<div ng-show="currentTournament.pointsPainting[ playerObjs.id ] > -1">{{currentTournament.pointsPainting[ playerObjs.id ]}}</div>
								<div ng-hide="currentTournament.pointsPainting[ playerObjs.id ] > -1" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/a</div>
							</td>
							<td ng-show="currentTournament.scoringComp" ng-click="editCompositionScore(playerObjs.id)" class="text-center cursor-pointer"">
								<div ng-show="currentTournament.pointsComposition[ playerObjs.id ] > -1">{{currentTournament.pointsComposition[ playerObjs.id ]}}</div>
								<div ng-hide="currentTournament.pointsComposition[ playerObjs.id ] > -1" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/a</div>
							</td>
							<td ng-show="currentTournament.scoringSportsmanship" ng-click="editSportsmanshipScore(playerObjs.id)" class="text-center cursor-pointer"">
								<div ng-show="currentTournament.pointsSportsmanship[ playerObjs.id ] > -1">{{currentTournament.pointsSportsmanship[ playerObjs.id ]}}</div>
								<div ng-hide="currentTournament.pointsSportsmanship[ playerObjs.id ] > -1" title="{{ 'TOURNAMENT_NOT_ENTERED' | translate }}" translate="TOURNAMENT_NE">n/a</div>
							</td>

							<td class="text-left">
								<strong>{{playerObjs.pointsFinal}}</strong>
								<span ng-show="currentTournament.type == 'steamroller'">
									(
										{{playerObjs.steamControlPoints}}
										/
										{{playerObjs.steamArmyPoints}}
									)
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>

	</div>
</div>
